/*===============
GENERAL
===============*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	height: 100%;
}

body{
	margin: 0;
  padding: 0;
	height: 100%;
	font-size: 14px;
	font-weight: 400; 
	color: #191919;
	line-height: 27px;
	padding-top: 50px;
	padding-bottom: 50px;
	letter-spacing: 0.5px;
	text-rendering: optimizeLegibility;
	font-family: 'Raleway', sans-serif;
}

p{
	margin-top: 0px;
	font-weight: 400;
	margin-bottom: 20px;
}

hr{
	margin: 0 0 10px 0;
	border: 0;
	border-top: 1px solid #ddd;
}

a:hover{
	text-decoration: none;
}

/*==========
UTILITY
===========*/
.mtb-5{
	margin-top: 50px;
	margin-bottom: 50px;
}
.no-pad{
	padding: 0;
}

.no-margin{
	margin: 0;
}

h3.panel-title{
	margin: 0 0 8px 0;
}

.thumbnailImg{
	display: inline-block;
	width: 100%; 
	max-height: 100%;
}

.panel-meta{
	margin: 0;
}

.panel-meta span{
	margin-right: 10px;
	padding-right: 10px;
	border-right: 2px solid #ddd;
}

main{
	margin: 20px 0;
}

.newEvent_icon_btn{
	border: 1px solid #000;
	padding: 10px;
	border-radius: 60%;
	position: absolute;
	top: 1px;
	left: 90%;
	cursor: pointer;
}

.newEvent_icon_btn i{
	font-size: 14px;
	padding: 0;
	margin: 0;
}

.newEvent_icon_btn:hover{
	background-color: #000;
	color: #fff;
}


/*=================
Event Details Page
==================*/
#event_details .panel-body{
	position: relative;
	top: 0;
	left: 0;
	padding: 0;
}

#event_details .panel-body img{
	width: 100%;
	max-width: 100%;
	filter: brightness(40%);
}

#event_details .panel-body .event-meta-box{
	position: absolute;
	bottom: 5%;
	left: 5%;
	width: 100%;
	height: auto;
	color: #fff;
}

#event_details .panel-footer span:not(:last-child){
	margin-right: 10px;
}


/*Event Comment Section*/
.event_comments{
	list-style: none;
	margin: .5em 0 0;
	border: none;
	line-height: 1.2;
}

.comment{
	margin: 25px 0;
}

.comment .avatar{
	display: block;
	width: 4.5em;
	padding: 2px;
	height: auto;
	float: left;
	margin: 8px 7px 0 7px;
}

.comment .avatar img{
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	border-radius: 25px;
}

.comment_content{
	display: block;
	padding: 10px;
}

.comment_content .metadata{
	color: #ccc;
	font-size: 12px;
}

.comment_content .author{
	color: #000;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}

.comment_content p{
	margin: 5px 0;
}

.comment_content .reply{
	color: #ccc;
	cursor: pointer;
	text-decoration: none;
}

textarea, 
textarea.form-control{
	padding-top: 10px;
  padding-bottom: 5px;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  border-radius: 0;
}

img.sm-avatar{
	width: 40px;
	height: auto; 
	display: inline-block; 
	margin-right: 7px;
}