/*===============
GENERAL
===============*/
html{
	height: 100%;
}

body{
	margin: 0;
  padding: 0;
	height: 100%;
	font-size: 14px;
	font-weight: 400; 
	color: #191919;
	line-height: 27px;
	padding-top: 50px;
	padding-bottom: 50px;
	letter-spacing: 0.5px;
	text-rendering: optimizeLegibility;
	font-family: 'Raleway', sans-serif;
}

p{
	margin-top: 0px;
	font-weight: 400;
	margin-bottom: 20px;
}